
<div th:fragment = "navbar">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

</style>


<div class = "nav">
<!-- 	<h1>Welcome</h1>
	<span th:text="${currentUser}"></span> -->
<!-- 	<a href="./">Home</a> -->
	<a href="./users">Admin</a>
	<a href="./logout">Logout</a>
	<a href="./cases">Cases</a>
	<a href="./contacts">Contacts</a>
	<form action = "<s:url value = "/contact_search"/">
 		<input type = "text" name = "freeText" placeholder = "Search">
 		<button>Search</button>
</div>
</div>