<!DOCTYPE html>
<html xmlns:th = http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>Cases</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.jqueryui.min.css">
<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.3.min.js"> </script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.jqueryui.min.js"></script>
<script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable();
            } );
</script>
</head>
<body>
<div th:replace = "fragments/nav_bar :: navbar"></div>
	 <h1>Cases</h1>
	 <table id="example" class="container" style="width:100%">
    	<thead>
        <tr>
       		<th>First Name</th>
            <th>Last Name</th>
            <th>Attorney</th>
            <th>Claim Number</th>
            <th>View Case</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead> 
       <tbody>
        <th:block th:each ="case1 : ${cases}">
        	<tr>
                <td>[[${case1.contact.contactFirstName}]]</td>
                <td>[[${case1.contact.contactLastName}]]</td> 
                <td>[[${case1.attorney}]]</td>
                <td>[[${case1.claimNo}]]</td>
                <td><a th:href="@{'viewCase/' + ${case1.id}}">View Case</a></td>
                <td><a th:href="@{'cases/edit/' + ${case1.id}}">Update</a></td>
                <td><a th:href="@{'/delete-case/' + ${case1.id}}">Delete</a></td>
            </tr>
          </th:block>
        </tbody>
    </table>
    <br/>
	<a href="./cases/new">New Case</a>
</body>
</html>